body {
    margin: 0;
    padding: 0;
    background-image: url(../images/bg_image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    min-height: 100vh; /* Added to ensure footer stays at the bottom */
    position: relative; /* Added to position the footer */
    box-sizing: border-box; /* Added to include padding and border in the element's total width and height */
  }

  .navbar1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
  }

  .navbar ul {
    display: flex; /* Make the list items horizontal */
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .navbar ul li {
    margin-right: 20px; /* Add space between each list item */
  }

  .navbar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .logo {
    font-size: 24px;
    margin-left: 20px;
  }
  
  .nav-links {
    margin-right: 20px;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .content {
    margin-top: 50px;
    margin-left: 50px;
    padding: 20px;
    text-align: left;
  }

  .content-h1{
    text-align: left;
  }

  .content-para{
    text-align: left;
    margin-right: 500px;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }

  button,
    .btn_style {
        background-color: #1961ad;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 5px;
        margin: 0 auto;
        display: block;
        font-size: large;
    }

    button:hover {
        background-color: #114277;
    }

    button a {
        color: white;
        text-decoration: none;
    }
  
  p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .get-started {
    background-color: #1961ad;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .footer {
    position: absolute;
    bottom: 20px;
    left: 20px;
    text-align: left;
    justify-content: space-between;
  }

  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-content p {
    margin: 0 10px;
  }
  
  .handle {
    font-weight: bold;
  }

.cardstyle {
    /* border: black 1px solid; */
    margin: 10px auto;
    display: block;
    /* width: 80vh; */
    text-align: center;
    padding: 40px;
    border-radius: 10px;
    max-width: 600px;
    width: 100%;
}

.cardstyle ul {
    list-style-type: none;
    padding: 10px;
}

.cardstyle ul li {
    border: #114277 1px solid;
    margin: 10px;
    padding: 10px;
    font-size: 18px;
}



/* Login page*/

.no-account a{
    text-decoration: underline;
    color: rgb(208, 156, 156);
}

.nav-item.active {
  background-color: #114277 1px solid;
}


/* Dashboard */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 120px);
  max-width: 800px; /* Increased max-width */
  margin: 0 auto;
}


h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

input[type="text"],
input[type="file"], input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  color: #000000;
}

input[type="text"]::placeholder {
  color: #999;
}

.file-input {
  position: relative;
  display: inline-block;
}

.file-input input[type="file"] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.file-input label {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffffff;
  color: #000000;
  border-radius: 5px;
  cursor: pointer;
}

.send-btn {
  background-color: #1961ad;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.send-btn:hover {
  background-color: #114277;
}

.input-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.label-column {
  flex: 1;
  text-align: left;
  font-size: 18px;
}

.input-column {
  flex: 2;
  text-align: right;
}

.button-row {
  text-align: right;
  margin-top: 20px;
}