<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <nav class="navbar1">
        <div class="logo">SteganoShield</div>
        </div>
      </nav>
    <h1>Signup</h1>
    <div class="cardstyle">
        <form method="" action="login.html">
            <div class="input-row">
                <div class="label-column">Username:</div>
                <div class="input-column">
                  <input type="text" id="username" name="username">
                </div>
            </div>
            <div class="input-row">
                <div class="label-column">Password:</div>
                <div class="input-column">
                  <input type="password" id="password" name="password">
                </div>
            </div>
            <button type="submit">Signup</button>
        </form>
    </div>
</body>
</html>