<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>Signup</h1>
    <div class="cardstyle">
        <form method="" action="login.html">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username">
            <br/><br/>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
            <br/><br/>
            <button type="submit">Signup</button>
        </form>
    </div>
</body>
</html>