<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <nav class="navbar">
        <span class="logo">SteganoShield</span>
        <ul>
            <li class="nav-links"><a href="encrypt_message.html">Encrypt</a></li>
            <li><a href="decrypt_message.html">Decrypt</a></li>
            <li><a href="notifications.html">Notifications</a></li>
            <li><a href="index.html">Logout</a></li>
            
        </ul>
    </nav>
    <h1>User Dashboard</h1>
    <div class="cardstyle">
        <button><a href="encrypt_message.html">Encrypt</a></button><br/>
        <button><a href="decrypt_message.html">Decrypt</a></button><br/>
        <button><a href="notifications.html">Notifications</a></button><br/>
        <button><a href="index.html">Logout</a></button>
    </div>
</body>
</html>