<!DOCTYPE html>
<html>
<head>
    <title>Decrypt</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div id="navbar">{% include 'navbar.html' %}</div>
    <h1>Decrypt</h1>
    <div class="cardstyle">
        <form method="POST" action="{{ url_for('decrypt') }}" enctype="multipart/form-data">
            <label for="stego_image">Upload the received Image:</label><br/><br/>
            <input type="file" id="stego_image" name="stego_image" style="border: 1px solid rgba(54, 54, 54, 0.5); padding: 10px;">
            <br/><br/>
            <button type="submit">Decrypt</button>
        </form>
        {% if decrypted_message %}
            <p>Decrypted Message: {{ decrypted_message }}</p>
        {% elif error_message %}
            <p>{{ error_message }}</p>
        {% endif %}
    </div>
        <!-- Footer -->
        <footer class="footer">
            <div class="footer-content">
                <p>Brought to you by SteganoShield</p>
            </div>
        </footer>
    <script>
        function setActiveNavItem() {
            // Get the current URL path
            var path = window.location.pathname;
            // Find the corresponding link in the navigation bar and add the 'active' class
            document.querySelectorAll('.nav-item a').forEach(function(elem) {
                if (elem.getAttribute('href') === path) {
                    elem.parentNode.classList.add('active');
                }
            });
        }
        setActiveNavItem()
    </script>
</body>
</html>