<!DOCTYPE html>
<html>
<head>
    <title>Decrypt</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>Decrypt</h1>
    <div class="cardstyle">
        <form method="" action="dashboard.html">
            <label for="cover_image">Upload the received Image:</label><br/><br/>
            <input type="file" id="cover_image" name="cover_image" style="border: 1px solid rgba(54, 54, 54, 0.5); padding: 10px;">
            <br/><br/>
            <button type="submit">Decrypt</button>
        </form>
    </div>
</body>
</html>