<!DOCTYPE html>
<html>
<head>
    <title>Encrypt</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>Encrypt</h1>
    <div class="cardstyle">
        <form method="" action="dashboard.html">
            <label for="reciever_username">Enter recipient's username:</label>
            <input type="text" id="reciever_username" name="reciever_username">
            <br/><br/>
            <label for="message">Enter message to encrypt:</label>
            <input type="text" id="message" name="message">
            <br/><br/>
            <label for="cover_image">Upload Cover Image:</label><br/><br/>
            <input type="file" id="cover_image" name="cover_image" style="border: 1px solid rgba(94, 94, 94, 0.5); padding: 10px;">
            <br/><br/>
            <button type="submit">Encrypt</button>
        </form>
    </div>
</body>
</html>