<!DOCTYPE html>
<html>
<head>
    <title>SteganoShield</title>
    <link rel="stylesheet" href="/static/css/style.css">
    </head>
<body>
    <h1>Welcome to SteganoShield!</h1>
    <p>SteganoShield is your all-in-one solution for secure information Transfer and digital identification. Our cutting edge platform uses the power of secure encryption techniques to hide in wide range of file types, providing unparalleled secrecy, capacity and robustness for sensitive data transfer. With steganoShield you can enjoy peace of mind knowing that your information and assets are protected.
    </p>
    <button><a href="login.html">Login</a></button><br>
    <button><a href="create_user.html">Signup</a></button>
</body>
</html>