<!DOCTYPE html>
<html>
<head>
  <title>SteganoShield</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <nav class="navbar1">
    <div class="logo">SteganoShield</div>
    <div class="nav-links">
      <a href="login.html" class="login-signup">Login/SignUp</a>
    </div>
  </nav>
  <div class="content">
    <h3>Say 👋 to SteganoSheild</h3>
    <h1 class="content-h1">What Is SteganoShield?</h1>
    <p class="content-para">SteganoShield Is Your All-In-One Solution For Secure Information Transfer And Digital Identification. Our Cutting Edge Platform Uses The Power Of Secure Encryption Techniques To Hide In Wide Range Of File Types, Providing Unparalleled Secrecy, Capacity And Robustness For Sensitive Data Transfer. With SteganoShield You Can Enjoy Peace Of Mind Knowing That Your Information And Assets Are Protected.</p>
    <button class="get-started"><a href="login.html">Get Started</a></button>
  </div>
  <footer class="footer">
    <div class="footer-content">
      <p>Brought to you by SteganoSield</p>
  </footer>
</body>

</html>