<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>Login</h1>
    <div class="cardstyle">
        <form method="" action="dashboard.html">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username">
            <br/><br/>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
            <br/><br/>
            <button type="submit">Login</button>
        </form>
    </div>
    <div class="no-account">
        <h3>Don't have an account? <a href="create_user.html">Click here to Signup</a></h3>
    </div>
</body>
</html>