<!DOCTYPE html>
<html>
<head>
    <title>Notifications</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div id="navbar">{% include 'navbar.html' %}</div>
    <h1>Notifications for {{ username }}</h1>

    {% if notifications %}
    {% for notification in notifications %}
    <div class="notification">
        <p>From: {{ notification.sender_username }}</p>
        <p>Message: {{ notification.message }}</p>
        <p>Steganographic Image: <a href="{{ notification.stego_image_path }}" download>Download</a></p>
    </div>
    {% endfor %}
    {% else %}
    <p>No notifications found.</p>
    {% endif %}

    <!-- Footer -->
    <footer class="footer">
        <div class="footer-content">
            <p>Brought to you by SteganoShield</p>
        </div>
    </footer>

    <!-- JavaScript -->
    <script>
        // Fetch and include the navigation bar using JavaScript
        function setActiveNavItem() {
            // Get the current URL path
            var path = window.location.pathname;
            // Find the corresponding link in the navigation bar and add the 'active' class
            document.querySelectorAll('.nav-item a').forEach(function(elem) {
                if (elem.getAttribute('href') === path) {
                    elem.parentNode.classList.add('active');
                }
            });
        }
        setActiveNavItem();
    </script>
</body>
</html>